body > .container {
	margin-top: 20px;
}

form input.form-control, .next-call p.form-control {
  display: inline;
  width: inherit;
}

.next-call p.form-control, form input.form-control {
    width: 34%;
    margin-right: 1%;
}

.next-call p.form-control:last-child, form input.form-control:last-child {
  width: 24%;
  margin-right: 0;
}

form .row {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

