<head>
  <meta charset="utf-8">
  <title>Todo-calls</title>
  <script src="lib/localstoragedb.js" type="text/javascript" charset="utf-8" async defer></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- /bootstrap -->

  <script type="text/javascript" src="lib/angular.js"></script>
  <script src="js/index.js" type="text/javascript" charset="utf-8" async defer></script>
  <script type="text/javascript" src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="next-call">
          <h2>Next call</h2>
          <div class="row">
            <p class="form-control col-lg-5 col-md-5 col-sm-5">{{nextCall.name}}</p>
            <p class="form-control col-lg-5 col-md-5 col-sm-5">{{nextCall.phone_number}}</p>
            <p class="form-control col-lg-2 col-md-2 col-sm-2">{{nextCall.time}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <form>
          <legend>Add call</legend>
          <div class="container-fluid">
            <div class="row">
              <input type="text" required maxlength='30' ng-model="name" class="form-control col-lg-5 col-md-5 col-sm-5" id="name" placeholder="Name">
              <input type="tel" required pattern="(\+|0{2})(\(|\d)\d{3}(\)|\d)(\s|\d|\-)\d{3}(\s|)\d{3}(\s|)(\d{0,})" ng-model="tel" class="form-control col-lg-5 col-md-5 col-sm-5" id="phone-number" placeholder="Phone number">
              <input required type="time" name="time" ng-model="time" class="form-control col-lg-2 col-md-2 col-sm-2" id="time" placeholder="Time">
            </div>
          <button ng-click="insertCall()" class="btn btn-default pull-right"> add <i class="fa fa-plus-square-o"></i></button>
          </div>
        </form>
        <div class="container-fluid">
          <div class="row">
            <table class="table table-striped">
              <tr>
                <th class="col-lg-4 col-md- col-sm-4" ng-click="orderBy('name')">
                  Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                </th>
                <th class="col-lg-4 col-md- col-sm-4">Phone number</th>
                <th class="col-lg-2 col-md- col-sm-2" ng-click="orderBy('time')">
                  Time <span ng-show="orderByField == 'time'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                </th>
                <th class="col-lg-1 col-md- col-sm-1"></th>
                <th class="col-lg-1 col-md- col-sm-1">Done</th>
              </tr>
              <tr ng-repeat="call in calls">
                <td class="col-lg-4 col-md- col-sm-4">{{call.name}}</td>
                <td class="col-lg-4 col-md- col-sm-4">{{call.phone_number}}</td>
                <td class="col-lg-2 col-md- col-sm-2">{{call.time}}</td>
                <td class="col-lg-1 col-md- col-sm-1"><a ng-click="deleteCall(call.ID)">delete</a></td>
                <td class="col-lg-1 col-md- col-sm-1"><input disabled type="checkbox" ng-model="call.done"></td>
              </tr>
            </table>
          </div>
          <button class="btn btn-default" ng-click="allCalls()">All</button>
          <button class="btn btn-default" ng-click="finishedCalls()">Finished</button>
          <button class="btn btn-default" ng-click="nextCalls()">Next</button>
        </div>
      </div>
    </div>
  </div>
</body>